@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #2563eb;
  --color-secondary: #10b981;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.active {
  color: #2563eb;
  font-weight: bold;
}
